<div class="login-container">
  <div class="login-form">
    <div class="login-header">
      <h1>Welcome to the Login Page</h1>
    </div>
    <div class="login-details">
      <div>
        <input pInputText [(ngModel)]="value1" type="text" placeholder="Name" />
      </div>
      <div>
        <input pInputText [(ngModel)]="value2" type="text" placeholder="Password" />
      </div>
      <div>
        <p-button label="Save" icon="pi pi-check" iconPos="right" />
    </div>
  </div>
</div>

<div class="register-container"> <!--to top right corner of the page-->
   <p-button label="Register" iconPos="right" (click)="register()" />
</div>